.Favorites {
    text-align: center;
  }

  .Favorites ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Favorites li {
    display: flex;
    align-items: center;
    background-color: #FFE0CA;
    border-radius: 7px;
    width: 55%;
    height: 120px;
    font-size: 20px;
    padding: 10px;
    margin: 30px;
  }

  .Favorites li p {
    text-align: left;
    padding-left: 100px;
  }

  .rating {
    font-weight: bold;
  }