
.memberContainer td{

    height: 60px;
    width: 50px;
 }
 .memberContainer table{
    margin-top: 0px;
    height: 100%;
    width: 100%;
    

   
 }


     .mypageContainerTable{
margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
         }
     .mypageContainer td{
       
        width: 300px;
         }
         .mypageContainerTableBody{
            padding-top: 40px;
         }
       .buttonStyle{
        margin-top: 20px;
            color:black;
            background-color:white;
            border: 1px solid gray;
            border-radius: 10px;
            width: 400px;
            height: 60px;
            font-size: 15px;
            font-weight: 800;
            &:hover {
            background-color: #3176ff;
            border: 1px #3176ff;
            color:white;
    
            }
        }
.registrationContainer table{
  

    margin-left: auto;
    margin-right: auto;
   
 }
 
.header-container ul{
    text-align : center;
    justify-content: space-evenly;
 
}
.header-container li{
    text-align : center;
    display : inline-block;
    
    
}


  .btn-upload {
    width: 600px;
    height: 40px;
    background-color: #888888;
    border: 1px solid  #888888;
    color:azure;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    &:hover {
        background: rgb(110, 108, 108);
        border: 1px solid rgb(77,77,77);
        color:azure;
    }
  }
  .btn-submit{

    width: 600px;
    height: 80px;
    font-size: 18px;
    color:azure;
    background-color: #3176ff;
    border: 1px solid  #3176ff;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  