.modalsearch-content {
    margin: 5% auto;
    width: 80%;
    color: #643E23;
  }
  
  .modalsearch-content ul {
    list-style-type: none;
  }
  
  .modalsearch-content li p {
    cursor: pointer;
    transition: background-color 0.3s;
    max-height: 150px;
    overflow-y: auto;
    height: 100%;
    margin-top : 24px;
    
  }
  
  /* ModalSearch.css */
  .modalsearch-content li .highlighted-text {
    color: #FF9549; /* 강조할 색상을 설정하세요 */
    font-weight: bold;
  }
  
  .modalsearch-content li:hover {
    color: #FF9549;
    font-weight: bold;
  }