.modal{
  /* 초기에는 모달을 숨깁니다. */
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;

 padding-top: 60px;
}
.modal-content {
   margin: 5% auto; /* 모달이 화면 중앙에 위치하도록 조정합니다. */
   padding-top:3%;

   width: 400px;
   height: 500px; /* 모달의 너비를 조정합니다. */
   border-radius: 30px;
   background-color: #FF9549;
   /*position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 40px 0px;
   /*z-index: 1;*/
   /*user-select: none;
   width: 400px;
   height: 500px;
   border-radius: 30px;
   background-color: #FF9549;*/
   
 }
 
 .modal-content .modalClose {
   cursor: pointer;
   position: absolute;
   top: 10px;
   left: 10px;
   font-size: 20px;
 }
 

 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }
 
 input {
   padding: 10px;
   font-size: 1.2em;
 }
 
 .container{
   position: relative;
 }
 
 .register{
   position: fixed;
   padding:30px;
   
   top:35%;
   left:32%;
   display: flex;
   flex-direction: row;
 }
 .chat-box{
 
   margin:80px 150px;
   height: 600px;
   padding: 10px;
   display: flex;
   flex-direction: row;
   border-radius: 10px;

 }
 
 .member-list{
   width: 100%;
 }
 
 .chat-content{
   height:65%;
   width:100%;
   
 }
 
 .chat-messages{
   height: 100%;
   width: 100%;
   overflow: auto;
   background-color: #FFE8D8;

 }
 
 .send-message{
   height:13%;
   width: 100%;
   display: flex;
   flex-direction: row;
 }
 
 .input-message{
   width:90%;

   border-radius: 50px;
 }
 
 ul {
   padding: 0px;
   list-style-type: none;
  
 
 }
 li.message{
   width: 90%;
 }
 .send-button{
   border: none;
   padding: 10px;
   background: #FF9549;
   color:#fff;
   font-size: 1.2em;
   font-weight: bold;
   width:20%;
   border-radius: 50px;
   margin-left: 5px;
   cursor: pointer;
 }
 .member{
   padding: 10px;
   background: #eee;
   border:#000;
   cursor: pointer;
   margin: 5px 2px;

 }
 .member.active{
   background: #FF9549;
   color:#fff;
 }
 .member:hover{
   background: grey;
   color:#fff;
 }
 
 .avatar{
   background-color: cornflowerblue;
   padding: 3px 5px;
   border-radius: 5px;
   color:#fff;
 }
 .avatar.self{
   color:#000;
  
 
 }
 .message{
   padding:5px;
   width: 200px;
   display: flex;
   flex-direction: row;
  
   margin: 5px 10px;
   align-items: flex-end;
   text-align: left;
  
 
 }
 .message-data{
   padding:5px;
   color: #643E23;
   

 }
 .message.self{
   justify-content: end;
   margin-right:0px;
 }
 .message-box {
  
   padding: 10px;
   display: inline-block;
   max-width: 100%; /* 최대 너비를 조절할 수 있습니다. */
   word-wrap: break-word;
   margin-bottom: 0px;
   
 }
 
 .message.self .message-box {
   background-color: #FF9549;
   border-radius: 20px 20px 0px 20px;
    /* 본인 메시지의 배경색 */
 }
 
 .message .message-box {
   /* 메시지의 배경색 */
   background-color: #FFFFFF;
   border-radius: 20px 20px 20px 0px;
 }


 .modal-header ul{
   display: flex;
   justify-content: space-between ;
   margin-left: 5%;
   margin-right:5%
 }
 .request-btn{
   margin-right: 30px;
   color:#FF9549;
   border-radius: 15px;
   width: 100px;
   height: 35px;
   font-size: 13px;
   border: none;
   background-color: #FFFFFF;
   box-shadow: 0px 8px 6px -6px #643E23;
   cursor: pointer;
   font-weight: 700;

 }
 .receiver-name{
   font-weight: 700;
   padding-top: 12px;
   margin-bottom: 0px;
   padding-bottom: 0px;
   color: #FFFFFF;
 }