/* Menu.css */

.menu {
  align-items: center; /* 메뉴 항목들을 가로로 배열하도록 설정 */
  flex-direction: row;
}
  
  .search,
  .login,
  .logout,
  .signup,
  .mypage {
    width: 120px;
    height: 35px;
    cursor: pointer;
    padding: 10px 18px;
    margin: 5px;
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
    border-radius: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
  }
  
  .search:hover,
  .login:hover,
  .signup:hover,
  .logout:hover,
  .mypage:hover,
  .search.active,
  .login.active,
  .logout.active,
  .mypage.active,
  .signup.active {
    color: #fff;
    background-color: #ff9549;
    border-radius: 25px;
    text-decoration: none;
  }
  