.div{
    text-align: center;
}
.memberContainer td{

    height: 60px;
    width: 50px;
    
 }
 .memberContainer table{
    margin-top: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
   
 }


     .mypageContainerTable{
margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
         }
     .mypageContainer td{
       
        width: 300px;
     /* border: 1px solid black;*/
         }
         .mypageContainerTableBody{
            padding-top: 40px;
         }
         .buttonStyle{
            margin-top: 20px;
                color:#FF9549;
                background-color:white;
                border: 1px solid #FF9549;
                border-radius: 10px;
                width: 400px;
                height: 60px;
                font-size: 15px;
                font-weight: 800;
                transition: background-color 0.3s;
                &:hover {
                background-color: #FF9549;
                border: 1px solid #643E23;
                color:white;
                cursor: pointer;
                }
            }