.SearchPage{
    display: flex;
    margin-left: 21%;
    margin-top: 0%;
}
.MapSection{
    margin-top: 4%;
    margin-left: 100px;
}
.ListSection{
    margin-top: 70px;
}
.Spfirstline{
    display: flex;
    flex-direction: column; 
    margin-top: 4%;
}

