/* 중복된 스타일 */

.userList ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }
  
  .userList li {
    display: flex;
    align-items: center;
    background-color: #FFE0CA;
    border-radius: 3px;
    width: 55%;
    height: 120px;
    font-size: 20px;
    padding: 10px;
    margin: 30px;
    color: #643E23;
    cursor: pointer;
  }

  .userList li p {
    text-align: left;
    padding-left: 80px;
  }

  .profileImage {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    margin-left: 10px;
}

.info {
  flex-direction: column;
  flex: 1;
}

.detail {
    font-weight: bold;
}

.titleAndBack {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
}

.titleAndBack h2 {
  text-align: left;
  padding: 30px;
  color: #FF9549;
}

.backBtn {
  border-color: #FF9549;
  background-color: white;
  color: #FF9549;
  font-weight: bold;
  border-radius: 10px;
  width: 106px;
  height: 46px;
  font-size: 18px;
  margin-top: 40px;
  cursor: pointer;
  font-size: 15px;
  margin-left: 20px;
  z-index: 1;  /* 버튼을 reviewTextarea 위에 위치시키도록 함 */
}