.DefaultImage {
    background-size: contain;
    background-color: #D9D9D9;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    color: #919191;

    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    display: flex;
  }
 
  .memberIcon{
    width: 58px;
    height: 58px;
  }