  #inputImage {
    visibility: hidden;
  }
  
  .add-button {
    color: white;
    border-radius: 15px;
    border: none;
    width: 830px;
    height: 40px;
    font-size: 17px;
    background-color: #643E23;
    cursor: pointer;
    display: block;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }  

  .image-container {
    margin: 5px;
    position: relative;
    cursor: pointer;

    img {
        margin: 5px;
        width: 90px;
        height: 90px;
        cursor: pointer;
        border-radius:5px;
        border: 3px dashed #cccccc;
    }
  }

  .imgIcon{
    width: 35px;
    height: 35px;
  }

