.Reviews {
    text-align: center;
  }

  .Reviews textarea {
    resize: none;
    border-radius: 20px;
    width: 55%;
    height: 400px;
    border-color: #dadada;
    padding: 15px;
  }

  .submitbtn, .submitbtnOn {
    color: white;
    border-radius: 15px;
    border: none;
    width: 873px;
    height: 80px;
    font-size: 17px;
  }

  .submitbtn {
    background-color: rgb(141, 138, 138);
  }
  
  .submitbtnOn {
    background-color: #FF9549;
    cursor: pointer;
  }