.UserProfile {

  display: flex;
  align-items: center;
  
  border-radius: 15px;
  background-color: white;
  padding: 10px; 
  width : 375px;
  height : 60px;
  margin-top: 10px;
}
.ListContainer {
  display: flex;
  background-color: #643E23;
  width: 390px;
  height: 445px;
  flex-direction: column;
  align-items: center;
  max-height: 445px; /* 최대 높이 설정, 원하는 값으로 조절하세요 */
  overflow-y: auto;
  padding: 15px;
  overflow-x: hidden;
}
.UserPic {
  width : 49px;
  height : 49px;
  background-color: rgb(197, 197, 197);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
.UserPicIcon{
  width : 30px;
  height : 30px;
  color: gray;
 
}
.Userinfo{
  color: #643E23;
  font-weight: 700;
  margin-left: 10%;
}

.UserProfile:hover {
  background-color: #ff9549; /* 마우스 오버 시 배경색 변경 */
  color: #fff ;
}

.UserProfile:hover .StarIcon {
  color: white; /* 마우스 오버 시 별 아이콘 색 변경 */
}


.ListContainer::-webkit-scrollbar {
  width: 5px; /* 스크롤 바의 너비 설정 */
}

.ListContainer::-webkit-scrollbar-thumb {
  background-color: #ff9549; /* 스크롤 바의 색상 설정 */
  border-radius: 5px; /* 둥근 형태로 만들기 */
  height: 10px; /* 스크롤 바의 높이 설정 */
}

.ListContainer::-webkit-scrollbar-track {
  background-color: #643E23; /* 스크롤 바 트랙의 색상 설정 */
}

table{
  width: 250px;
}

.listId{
  
  text-align: center;
  border-right: 1px solid black;

}

.lastTd {
  border-right: none;
}

.UserProfile.clicked {
  background-color: #ff9549; /* 선택된 유저 프로필의 배경색을 변경합니다. */
  color: #fff; /* 선택된 유저 프로필의 텍스트 색상을 변경합니다. */
}